<!DOCTYPE html>
<html>
    <head>
    <meta charset='UTF-8'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <p >{{data.name}}</p>
            <p class='title'></p>
            <p class='dateOfBirth'></p>
            <p class='phoneNumber'></p>
            <p class='email'></p>
            <p class='adress'></p>
            <p class='qualifications'></p>
            <ul id="links" class='mdc-list'></ul>
        </div>
    </body>
</html>